@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Manrope", "Segoe UI", system-ui, -apple-system, sans-serif;
  --color-primary-50: #e7f7f7;
  --color-primary-100: #b4e7e6;
  --color-primary-200: #90dcda;
  --color-primary-300: #5eccc9;
  --color-primary-500: #0eb3af;
  --color-primary-600: #0da39f;
  --color-primary-700: #0a7f7c;
  --color-primary-800: #086260;
  --color-primary-900: #064b4a;
  --color-secondary-300: #736fa3;
  --color-secondary-500: #201b6d;
  --color-secondary-600: #1b175d;
  --color-danger-500: #ef4444;
  --color-white: #ffffff;
  --color-body: #F4F4F5;

}

.spinner {
  margin-right: 8px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}